<div class="container">
    <h1>MP4 to GIF Converter</h1>
    <input type="file" (change)="onFileSelected($event)" accept="video/mp4"/>
    <button (click)="onUpload()" [disabled]="!selectedFile || isLoading || isInvalidFile">Upload</button>
    @if(isLoading) {
        <div>
            <p>Uploading: {{ progress }}%</p>
        </div>
    }
    @if(isConverting) {
        <div>
            <p>Converting mp4 to gif, please wait.</p>
        </div>
    }
    @if(errorMsg) {
        <div class="err-msg">
            <p>{{errorMsg}}</p>
        </div>
    }
    @if (convertedGifUrl) {
        <div>
            <h2>Converted GIF</h2>
            <img [src]="convertedGifUrl" alt="Converted GIF"/>
            <button (click)="onDownload()">Download GIF</button>
        </div>
    }
</div>
